/* Login.css */
.login-background {
    background-image: url('../image/achat.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Prend la hauteur complète de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container div {
    margin-bottom: 1rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.login-container button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container p {
    color: red;
    text-align: center;
    margin-top: 1rem;
}
